# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# intellij
*.iml
*.xml
*/.idea
2019S/587/PA3/.idea/
*/out/
2019S/587/PA4/.idea/
2019S/587/PA4/out/
2019S/587/PA4/PA4.iml

*/data/
2019S/573/PA3/src/__pycache__/
2019S/573/PA3/data/
2019S/573/PA3/src/*.m*
2019S/573/PA4/data/
2019S/573/PA4/src/__pycache__/
