{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
  <link rel="stylesheet" type="text/css" href="./static/css/board.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-3 col-s-3 menu">THis is a test note</div>
    <div id="boad div" class="col-6 col-s-9">
      board test
      <canvas id="myCanvas" style="border:2px solid #03d3d3;">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
    </div>
    <div class="col-3 col-s-12">this is test console</div>
  </div>

  <script src="static/js/board.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>

{% endblock %}
