{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <!-- <style type="text/css">
    .important { color: #336699; }
  </style> -->
  <link rel="stylesheet" type="text/css" href="./static/css/board.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-3 col-s-3 menu">THis is a test note</div>
    <div id="boad div" class="col-6 col-s-9">
      board test
      <canvas id="myCanvas" style="border:2px solid #03d3d3;">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
    </div>
    <div class="col-3 col-s-12">this is test console</div>
  </div>

  <script src="static/js/board.js"></script>

{% endblock %}
